
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #708090;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.name {
  background-color: #A9A9A9;
  float: left;
}

.containers {
  float: left;
}

.footer {
  float:left;
  background-color: #FAEBD7;
}

h1 {
  font-family: 'Koulen', sans-serif;
  font-size: 64px;
  color: #FFB6C1;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #D8BFD8;
}
 
p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  color: #A9A9A9;
}


