
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #708090;
}

img {
  border-radius: 8px;
  width: 100%;
}

.pageContainer {
  width: 50%;
  margin: auto;
  text-align:center;
}

hr {
    width:50%;
    background-color:#A9A9A9;
}


h1 {
  font-family: 'Koulen', sans-serif;
  font-size: 64px;
  color: #FFB6C1;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #D8BFD8;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  color: #708090;
  }
  
p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  color: #FFE4E1;
}

ul, ol {
  text-align: left;
  font-style: italic;
  color: #D8BFD8;
}

.footer {
  background-color: #D8BFD8;
  text-align: center;
}

.attribution {
  font-size: 8px;
}
