
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #2F4F4F;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
 

.textContainer {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Koulen';
  font-size: 64px;
  color: #FFB6C1;
}

h2 {
  font-family: 'Oswald';
  font-size: 48px;
  color: #FFFFE0;
}
 
p {
  font-family: 'Titillium Web';
  font-size: 22px;
  color: #F5FFFA;
}


